.sidebar {
  width: 260px;
  height: 1024px;
  gap: 0px;
  background-color: white;
  color: white;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  border: 1px solid rgb(225, 225, 225);
}
.collapsed {
  width: 76px;
  background-color: aliceblue;
}
.hide {
  display: none;
}

.logo {
  color: #3f3f3f;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
li:hover {
  color: aliceblue;
}
nav ul li:hover {
  background-color: #5570f1;
}
nav ul li:hover span {
  color: aliceblue;
}
nav ul li:hover .icon {
  color: white;
}
.navigation li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.navigation a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

li {
  border-radius: 6px;
}

.below-link-text {
  margin-left: 10px;
  font: Inter;
  font-weight: 400;
  size: 14px;
  line-height: 16.94px;
  align-items: center;
  color: #050505;
  margin-right: 2px;
  padding: 3px 12px;
}
.link-text {
  margin-left: 10px;
  font: Inter;
  font-weight: 400;
  size: 14px;
  line-height: 16.94px;
  align-items: center;
  color: #3f3f3f;
  margin-right: 2px;
  padding: 3px 12px;
}
.icon {
  color: #3f3f3f;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.logout {
  color: #cc5f5f;
}
.navigation a {
  padding: 16px, 20px, 16px, 20px;
}
.collapse-btn {
  margin-left: 8px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 76px;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation li {
    margin-bottom: 0;
  }

  .navigation a {
    padding: 10px, 20px;
  }

  .link-text {
    display: none;
  }
  .below-link-text {
    display: none;
  }
  .logout {
    display: none;
  }
  .collapse-btn {
    display: none;
  }
}
