.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
