/* Sidebar.css */

.sidebar {
  width: 230px;
  height: 1024px;
  gap: 0px;
  opacity: 0px;
  background-color: white;
  color: white;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  border: 1px solid rgb(225, 225, 225);
}

.logo{
  color: #3f3f3f;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  max-width: 150px; 
  display: block;
  margin: 0 auto;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navigation li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.navigation a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color:#5570F1;
}

.below-link-text {
  margin-left: 10px;
  font: Inter;
  font-weight: 400;
  size: 14px;
  line-height: 16.94px;
  align-items: center;
  color: #050505;
  margin-right: 2px;
  padding: 3px 12px;
} 
.link-text {
  margin-left: 10px;
  font: Inter;
  font-weight: 400;
  size: 14px;
  line-height: 16.94px;
  align-items: center;
  color: #3f3f3f;
  margin-right: 2px;
  padding: 3px 12px;
}
.icon{
  color: #3f3f3f;
}

.collapse-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none; 
}

.nav-items{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.logout{
  color: #CC5F5F
}
.navigation a {
  padding: 16px, 20px, 16px, 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .sidebar.collapsed {
    transform: translateX(-100%);
  }

  .collapse-btn {
    display: block; 
  }

  .navigation {
    flex-direction: column;
  }

  .navigation li {
    margin-bottom: 0;
  }

  .navigation a {
    padding: 10px, 20px;
  }

  .link-text {
    display: none; 
  }
  
  
}
