.content {
    margin-left: 250px; 
    padding: 20px;
    transition: margin-left 0.3s ease; 
  }
  .wide{
    margin-left: 80px; 
    padding: 20px;
    transition: margin-left 0.5s ease-in-out;  
  }
  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 74px; 
    }
  
    .content {
      margin-left: 80px; 
    }
  }